.posts{
  border: 2px solid #E8E8E8;
  font: 14px Arial;
  padding: 10px;
  width: 100%;
}
.posts-info{
  display: flex;
}
.post-info-pic{
  width: 10%;
  height: 10%;
  float: left;
}

.posts-info-text{
  display: inline;
  padding: 10px;
  width: 85%;
}

.posts-info-text__user{
  overflow-wrap:break-word;
}

.posts-info-text__post{
  overflow-wrap:break-word;
}

.posts-btn{
  height: 50%;
}

.posts-footer{
  text-align: right;
}
